<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cidp.monitorsystem.mapper.IpAddrTableMapper">
    <insert id="insert">
        insert into IpAddrTable(ip,ipAdEntAddr,ipAdEntIfIndex,ipAdEntNetMask)
        values
        <foreach collection="list" separator="," item="item" index="index">
            (
            #{item.ip},
            #{item.ipAdEntAddr},
            #{item.ipAdEntIfIndex},
            #{item.ipAdEntNetMask}
            )
        </foreach>
    </insert>
    <delete id="deleteAll">
        delete from IpAddrTable
    </delete>
    <insert id="insertError">
        insert into IpAddrTable(ip,ipAdEntAddr,ipAdEntIfIndex,ipAdEntNetMask)
        values (#{ip},0,0,0)
    </insert>
    <select id="selectAddr" resultType="java.lang.String">
        SELECT ipAdEntAddr from IpAddrTable where ip = #{ip}
    </select>
</mapper>